@font-face {
  font-family: "Px Grotesk";
  src: url("@infosupport/kc-cli/public/cli-fonts/PxGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Px Grotesk";
  src: url("@infosupport/kc-cli/public/cli-fonts/PxGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Px Grotesk Screen";
  src: url("@infosupport/kc-cli/public/cli-fonts/PxGrotesk-Screen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("@infosupport/kc-cli/public/cli-fonts/icomoon.woff") format("woff");
}
